<form {{action 'submit' on="submit"}}>
  {{input type="text" value=user.email placeholder="Email"}}
  {{input type="text" value=user.username placeholder="Username"}}
  {{input type="password" value=user.password placeholder="Password"}}
  <button type="submit">Sign up</button>
</form>

{{#if errorMessage}}
  {{errorMessage}}
{{/if}}
