<form {{action 'submit' on="submit"}}>
  {{input type="text" value=user.email placeholder="Email"}}
  {{input type="text" value=user.username placeholder="Username"}}
  {{input type="password" value=user.password placeholder="Password"}}
  <button type="submit">Sign up</button>
</form>

<p>Errors:</p>
{{#if errorMessages}}
  <ul>
  {{#each errorMessages as |error|}}
    <li>{{ error.detail }}</li> 
  {{/each}}
  </ul>
{{/if}}
